venv/
.venv/
__pycache__/
*.pyc
*.pt
*.pth
*.h5
*.onnx
runs/
Models/
static/demo_sources/
*.mp4
*.avi
*.mov
*.mkv
*.rar
Train_Fast_CNN/Accident.v2i.voc/
Train_Fast_CNN/Accident.v2i.voc_clean/
Train_Fast_CNN/Accident.v2i.voc_clean_fixed/
Train_Fast_CNN/Accident.v2i.voc_80_10_10/
Train_Fast_CNN/_inspect_test_results/
tempCodeRunnerFile.py
app_patch_instructions.py
